:root {
  --brand: #0074d9;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: var(--brand);
  text-decoration: none;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

nav a {
  padding: 0.5rem;
}

nav a.active {
  background-color: var(--brand);
  color: #fff;
}

.counter {
  font-size: 3rem;
}

button {
  font-size: 1rem;
  padding: 8px 32px;
}

.wrapper {
  min-height: calc(100svh - 40px);
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
}

.img--center {
  margin-inline: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: logo-spin infinite 20s linear;
}
